version: '3'

services:

  postgres:
    image: postgres:9.6
    environment:
      POSTGRES_USER: mydbuser
      POSTGRES_PASSWORD: mydbpass
    ports:
      - '5433:5432'
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:5.0
    ports:
      - '6379:6379'
    volumes:
      - redis:/var/lib/redis/data

  dockerized-app:
    build: .
    volumes:
      - .:/mobydock
    ports:
      - '8000:8000'
    env_file:
      - .dockerized-app.env

volumes:
  postgres:
  redis: